@font-face {
  font-family: "merriweatherlight";
  src: url("/fonts/merriweather-light-webfont.woff2") format("woff2"),
    url("/fonts/merriweather-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

:root {
  font-family: "merriweatherlight", serif;
  line-height: 1.5;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
  padding: 40px 10px;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

textarea {
  font-size: 20px;
  font-family: "merriweatherlight", serif;
  border: none;
  background: transparent;
  width: 100%;
  line-height: 1.5;
  padding: 20px 0;
  resize: none;
  min-height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
  position: absolute;
}

textarea:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.translation {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}

.translation > div {
  flex: 1;
}

.settings {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .settings {
    gap: 1px;
  }
}

.autosize {
  position: relative;
  padding-bottom: 40px;
}
.autosize::after {
  content: attr(data-replicated-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}